.header,
#sketch,
.sketchGrids,
.gridRow,
.grid,
.newSketch {
  display: flex;
}

.header,
.newSketch,
#sketch {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.sketchGrids {
  width: 480px;
  height: 480px;
  flex-direction: column;
  justify-content: space-evenly;
}

.gridRow {
  flex-grow: 1;
  justify-content: space-evenly;
}

.grid {
  flex-basis: auto;
  flex-grow: 1;
  border: 1px solid lightgray;
}

.newSketch {
  margin-bottom: 20px;
}
